{
  email {$ACME_EMAIL}
}

(common_overrides) {
  import /etc/caddy/local/*.caddy
}

{$APP_DOMAIN} {
  import common_overrides

  encode zstd gzip

  @api path /api/*
  handle @api {
    reverse_proxy backend:8080
  }

  handle {
    reverse_proxy frontend-blog:3000
  }
}

{$ADMIN_DOMAIN} {
  import common_overrides

  encode zstd gzip
  reverse_proxy admin:80
}
