<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anxcye.mapper.NoteMapper">

    <resultMap id="BaseResultMap" type="com.anxcye.domain.entity.Note">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="isTop" column="is_top" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="orderNum" column="order_num" jdbcType="TINYINT"/>
            <result property="viewCount" column="view_count" jdbcType="BIGINT"/>
            <result property="isComment" column="is_comment" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,is_top,
        status,order_num,view_count,
        is_comment,create_by,create_time,
        update_by,update_time,deleted
    </sql>
</mapper>
