@use '@/styles/variable.scss' as *;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $ac-primary-color,
    ),
  ),
  $menu: (
    'hover-bg-color': #dcdcdc,
  ),
  $border-radius: (
    'base': 20px,
    'small': 10rem,
    'round': 10rem,
    'circle': 100%,
  ),
  $popper: (
    'border-radius': 20px,
  )
);
