@import './reset';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.el-table {
  width: 99%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 20px;
}

.dialog-form {
  .el-dialog__title {
    font-size: 20px;
    font-weight: bold;
  }

  .el-form-item__label {
    font-size: 14px;
    font-weight: bold;
  }

  // pc
  @media (width >= 768px) {
    .el-form-item {
      display: flex;
    }
  }

  // mobile
  @media (width <= 768px) {
    width: 90% !important;
  }
}

.query-form {
  margin-bottom: 10px;
}
